<%- include('partials/header') -%>
<button id="announcements-button" class="btn btn-lg btn-primary">Announcements</button>
<div id="announcements">
    <div class="panel-group">
        <a href="/announcement" style="text-decoration:none;">
            <div class="panel panel-heading">See all Announcements</div>
        </a>
    </div>
    <div class="panel-group" style="overflow: scroll;overflow-x: hidden;height:80%;">
    <%for(var i=0;i<an.length;i++){%>
        <a href="/announcement/<%=an[i]._id%>" style="text-decoration: none;">
        <div class="panel panel-default">
            <div class="panel-body"><%=an[i].title%></div>
            <br>
            <div><%=an[i].date%></div>
        </div>
        </a>    
    <%}%>
    </div>
</div>
<div class="container">
    <div class="jumbotron">
        <h1>Welcome To Pragna</h1>      
        <p>We help you shape your career</p>
    </div>
</div>
<div class="container-fluid" style="width:70%;background:#eee;">
    <h1>Introduction</h1>      

</div>
<script>
    $('#announcements-button').click(function()
    {
        $('#announcements').toggle();
    });
</script>

<%- include('partials/footer') -%>